name: LockOut CI/CD on push
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup config
        run: make setup-config
      - name: test
        run: make test
      - name: build app target
        run: xcodebuild -scheme LockOut-macOS -project LockOut.xcodeproj -configuration Debug -destination 'platform=macOS' CODE_SIGNING_ALLOWED=NO build
